[submodule "polkadot-sdk"]
	path = polkadot-sdk
	url = https://github.com/Szegoo/polkadot-sdk.git
	branch = "release-polkadot-v1.7.0-patch"
[submodule "Astar"]
	path = Astar
	url = https://github.com/RegionX-Labs/Astar.git
	branch = "regionx-astar"
